html {
  height: 100%;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: contain;
}

html,
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers */
}

body {
  margin: 0;
  padding: 0;
}

.clear-both {
  clear: both;
}

a {
  color: rgb(65, 47, 65);
  text-decoration-color: #baa8a8;
}

a:hover {
  color: rgb(158, 70, 3);
  text-decoration: none;
}

p.bold-anchor a {
  font-weight: bold;
}

p.video-anchor a {
  font-weight: bold;
  font-style: italic;
  color: #b14621;
}
p.video-anchor a:hover {
  color: #790000;
}

h1 {
  margin: 0rem 2rem 1rem 4rem;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 1rem 4rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", Calibri, sans-serif;
}

.noselect {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* 
  Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox 
  */
  user-select: none;
}

.leo-img {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: -1rem;
  left: 2.75rem;
}
/* 
.controls:hover .leo-img {
  opacity: 1;
} */

.github {
  margin: 0.5rem 0 0 1.5rem;
  background-color: #6b4234;
  border-radius: 0.2rem;
  display: inline-block;

  border: 2px solid #8d6f38;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.75rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}

.github:hover {
  background-color: #b37400;
  transform: scale(1.17);
}

.donate {
  margin: 0.5rem 0 0 1.5rem;
  background-color: #494e50;
  border-radius: 0.2rem;
  display: inline-block;

  border: 2px solid #798283;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.75rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}

.donate:hover {
  background-color: #033d9a;
  transform: scale(1.17);
}

.buffer {
  clear: both;
  margin: 0;
  height: 1rem;
  width: 2rem;
  padding: 0.2rem 1rem;

  float: right;
}

.support {
  margin: 0.5rem 0 0 1.5rem;
  display: inline-block;

  background-color: #7c546d;
  border-radius: 0.2rem;
  border: 2px solid #b1899a;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.75rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}

.support:hover {
  background-color: #8d1d55;
  transform: scale(1.17);
}

.vsix {
  margin: 0.5rem 0 0 1.5rem;
  display: inline-block;
  background-color: #cc5d1a;
  border: 2px solid #dda86c;
  border-radius: 0.2rem;
  color: #f2f2f2;
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.75rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}

.vsix:hover {
  background-color: #a34b15;
}

.leojs {
  background-color: #f08c05;
  border-color: #9e7425;
}

.vsix.leojs:hover {
  background-color: #ffa754;
}

.vsix a,
.support a,
.github a,
.donate a {
  color: #fff;
  text-decoration-color: transparent;
}

.leointeg {
  position: relative;
  margin-top: 1rem;
}

.download-label {
  margin: 0.5rem -2rem 0 2rem;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leointeg h1 {
  margin: 2rem 3rem 0 2rem;
  padding-left: 8rem;
  line-height: 5rem;
  font-family: "Georgia", "Palatino Linotype", "Times New Roman", Times, serif;
  font-size: 4.5rem;
  color: #c9c9c9;
  text-shadow: 0.02em 0.02em #636161aa, -0.02em -0.02em #fff;
  text-align: right;
  margin-bottom: 0;
  font-weight: normal;
}

.leointeg h2 {
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding-top: 0.25rem;
  padding-right: 4rem;
  padding-bottom: 0.4rem;
  background-color: #00000030;
  color: white;
  text-shadow: 0.05em 0.05em #1f1b1b40;
}

.leointeg .bottom-border {
  min-height: 0.5rem;
  background: linear-gradient(90deg, #aa7336 0%, #d89c39 100%);
}

@media only screen and (max-width: 400px) {
  h1 {
    margin-top: 2rem;
  }

  p.last {
    margin-bottom: 1rem;
  }

  .leointeg {
    margin-top: 0.25rem;
  }

  .leointeg h1 {
    margin-top: 0;
    padding-left: 2.8rem;
    margin-right: 1rem;
  }

  .leointeg h2 {
    padding-right: 1rem;
  }
}

a.column-link {
  text-decoration: none;
  color: #201c1f;
  position: relative;
  background-size: cover;
  background-image: url("/banner-blur-narrow-trans.png");
  background-repeat: no-repeat;
  background-position: left 800px center;

  transition: transform 0.1s ease-in-out, background-position 0.2s ease-in-out,
    background-color 0.5s;

  flex: 1;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Arial", sans-serif;
  border-radius: 150% 100%;
}

a.column-link:hover {
  color: #201c1f;
  text-decoration: none;
  background-position: left 0 center;
  transform: scale(1.07);
  background-color: #ffffff;
  z-index: 2;
  border: 9px solid #fff;
}

a.column-link:hover .more-info {
  font-weight: bold;
  color: rgb(151, 43, 0);
  transform: scale(1.27);
}

a.column-link p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
a.column-link h2 {
  margin-bottom: 0.5rem;
}

.column-leojs {
  background-color: #fff6e1;
  border: 9px solid #f4f0cf;
}
.column-leointeg {
  background-color: #f9e7df;
  border: 9px solid #e8d5cd;
}
.leo-32 {
  vertical-align: bottom;
}
.js-logo {
  background-color: #f7e018;
  padding-right: 9px;
  padding-top: 9px;
}
.integ-logo {
  color: #8d3817;
}

.subtitle {
  font-style: italic;
  font-family: Tahoma, sans-serif;
  /* color: #78a1b4; */
  color: #6b8a99;
  font-style: italic;
  font-weight: 200;
  font-family: Tahoma, sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-shadow: 1px 1px 0px #ffffff;
}

.top-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.more-info {
  font-style: italic;
  padding: 0 !important;
  margin: 0 !important;
  color: #485c69;
  text-align: center;
  transition: transform 0.1s ease-in-out, color 0.1s linear;
}

p.video-links {
  margin-bottom: -6px !important;
}

p.video-links a {
  margin-right: 12px;
}

img.video {
  position: relative;
  opacity: 0.75;
  width: 240px;
  transition: transform 0.12s ease, opacity 0.1s linear;
}

img.video:hover {
  opacity: 1;
  z-index: 2;
  transform: scale(1.2);
}

/* Responsive design */
@media (max-width: 768px) {
  .top-row {
    flex-direction: column;
  }
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes skew {
  0%,
  100% {
    transform: skew(0deg, 0deg);
  }
  50% {
    transform: skew(10deg, -5deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes skew-pulse {
  0% {
    transform: scale(1) skew(0deg, 0deg);
  }
  50% {
    transform: scale(1.05) skew(10deg, -5deg);
  }
  100% {
    transform: scale(1) skew(0deg, 0deg);
  }
}
